:root {
    /* Main Colors */
    --black: #000000;
    --purpleDark: #5C2DD5;
    --purpleLight: #7945FF;
    --Pink: #FD6687;
    --yellow: #FFCE67;
    --white: #FFFFFF;
}
@font-face {
    font-family: myFontMedium;
    src: url("./assets/fonts/static/SpaceGrotesk-Medium.ttf")
}
@font-face {
    font-family: myFontBold;
    src: url("./assets/fonts/static/SpaceGrotesk-Bold.ttf");
}

body {
    padding: 0;
    margin: 0;
    font-family: "myFontMedium", serif;
    background-color: var(--purpleLight);
}

#container {
    
    height: 100%;
    display : grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#middle-container {
    grid-column: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
#menu-button {
    font-family: "myFontBold", serif;
    color: var(--white);
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    border-style: none;
    background-color: var(--purpleDark);
}
#restart-button {
    font-family: "myFontBold", serif;
    color: var(--white);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border-style: none;
    background-color: var(--purpleDark);
}
#middle-header {
    max-width: 632px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
#board {
    position: relative;   
    display: flex;
    justify-content: center;
    
}
#board-layout {
    position: absolute;
    
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#board-layout > div {
    display: flex;
    width: 95%;
    height: 100%;
    gap: 18px;
}
#board-layout > div > div {
    width: 70px;
    margin-top:14px;
    height: 75px;
    width: 70px;

}
.row-1:hover {
    background-image: url("./assets/images/counter-red-large.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.taken {
    background-image: url("./assets/images/counter-red-large.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

#board-layer-black-large {
    display: block;
    
    
}
#board-layer-white-large {
    position: absolute;
    top: 0;
    
}
#turn-background-red {
    position:relative;
    bottom: 60px;
    
}
#player-turn-container {
    position: relative;
    display: flex;
    height: 100px;
    
}
#player-turn-container img {
    min-height: 165px;
}
#middle-container h3 {
    position: absolute;
    top: 680px;
    margin: 0;
}
#middle-container p {
    position: absolute;
    top: 710px;
    font-size: 50px;
    margin: 0;
}
#player-turn-container p {
    position: absolute;
}
#left-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#left-player {
    width: fit-content;
}
#left-player div{
    width: 141px;
    height: 187px;
    background-color: var(--white);
    border: solid var(--black) 3px;
    border-bottom-width: 9px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#left-player h3 {
    margin-top: 45px;
    font-size: 25px;
    margin-bottom: 5px;
}
#left-player p {
    font-family: "myFontBold", serif;
    font-size: 60px;
    margin: 0;
}
#left-player img{
    position: relative;
    left: 35%;
    top: 40px;
}

#right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#right-player {
    width: fit-content;
}
#right-player div{
    width: 141px;
    height: 187px;
    background-color: var(--white);
    border: solid var(--black) 3px;
    border-bottom-width: 9px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#right-player h3 {
    margin-top: 45px;
    font-size: 25px;
    margin-bottom: 5px;
}
#right-player p {
    font-family: "myFontBold", serif;
    font-size: 60px;
    margin: 0;
}
#right-player img{
    position: relative;
    left: 35%;
    top: 40px;
}
#footer {
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: var(--purpleDark);
    top: 650px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
}